body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Times', 'Times', 'Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    font-size: 1em;
    line-height: 1.3em;
    color: #46050F;
}

li {
    padding-left: 26px;
    list-style-position: outside;
    color:  #46050F; 
}
a {
    text-decoration: none;
    color: #000000;
}
a:hover {
    text-decoration: underline;
    color: #E58181;
}
h1 {
    font-size: 1.2em;
    font-family:'Times', 'Times', 'Serif';
}
p {
    font-size: 1em;
    line-height: 1.3em;
    color: #46050F;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1em;
}

ul.posts li {
    list-style: none;
}
